/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*stile*/

body {
    font-family: 'Roboto', sans-serif;
}

/*contenitori*/
.mega-container {
    background-color: #1b1b1b;
    min-height: 100vh;
}

header {
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

}

.header-container {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-top: 70px;
    width: 90vw;
    min-width: 1200px;
    margin: 0 auto;


}

/* fine contenitori */

/* header */
.header-left {
    display: flex;
    align-items: center;
}


#logo a {
    text-transform: uppercase;
    color: #e7111b;
    text-decoration: none;
    margin-right: 20px;
}

#menu{
    list-style: none;
    display: flex;   
    color: white;
}

#menu li{
    cursor: pointer;
    margin-left: 20px;
}

#open-search {
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}

#my-button {
    display: none;
    margin-left: 10px;
    padding: 5px 12px;
    background-color: transparent;
    color: #e7111b;
    border-radius: 10px;
    border: 3px solid #e7111b;
    cursor: pointer;
}


#my-input {
    /* display: none; */
    display: inline-block;
    width: 0px;
    border-radius: 10px;
    border: none;
    -webkit-transition-duration: 0.8s;
}

#my-input.active {
    /* display: inline-block; */
    width: 160px;
    -webkit-transition-duration: 0.8s;
    padding: 5px 12px;
}



#my-input:focus {
    outline: none;
}


/* fine header */

/* container */

.movie-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    color: red;

}

.tv-series-list {
    display: flex;
    flex-wrap: wrap;
    color: red;
    padding-bottom: 30px;
}

h2.categoria {
    margin-top: 20px;
    color: white;
}
/* card */

ul.entry {
    width: calc((90vw - 20px) / 5);
    height: 400px;
    position: relative;
    background-color: #0e0e0e;
    list-style: none;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 28px 0px rgba(64,62,64,1);

}

ul.entry:nth-child(5n){
    margin-right: 0;
}

ul.entry:hover ul.overlay {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
    z-index: 1;

}

ul.entry:hover li.genere {
    opacity: 0;
    transition: all 0.5s;
}

.poster {
    height: 100%;
}

.poster img {
    width: 100%;
    height: 90%;
}

.poster img[src="https://www.officinezambrano.it/s/cc_images/teaserbox_72447489.jpg?t=1548731397"]{
    height: 180px;
    filter: invert(100%);
}


ul.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    list-style: none;
    background-color: black;
    color: white;
}

ul.overlay li {
    margin-bottom: 5px;
}

.lang-img img {
    height: 20px;
    width: 25px;
}

.voto i {
    color: rgb(247, 205, 21);
}

li.genere {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #e7111b;
    display: block;
    text-transform: capitalize;

}



/* fine card */
