/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*contenitori*/
.mega-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #1b1b1b;
}

header {
    height: 70px;
    width: 100%;
    background-color: black;

}

.header-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;


}

/* fine contenitori */

/* header */

#logo a {
    text-transform: uppercase;
    color: #e7111b;
    text-decoration: none;
}

/* fine header */

/* container */

.movie-list {
    display: flex;

}

.tv-series-list {
    display: flex;
}

ul.entry {
    width: 250px;
    height: 350px;
    position: relative;
    background-color: #0e0e0e;
    list-style: none;
    margin-right: 10px;

}

ul.entry:hover ul.overlay {
    opacity: 1;
    transition:all 1s;

}

.poster {
    height: 100%;
}

.poster img {
    width: 250px;
    height: 100%;
}

.poster img[src="https://www.officinezambrano.it/s/cc_images/teaserbox_72447489.jpg?t=1548731397"]{
    height: 200px;
    filter: invert(100%);
}

ul.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 5px;
    list-style: none;
    background-color: black;
    color: white;
}

.lang-img img {
    height: 20px;
    width: 25px;
}
